@media screen and (max-width: 1299px) {
    .app-header-menu li a.menu-item{
        padding: 10px 20px;
    }
}
@media screen and (max-width: 1175px) {
    .app-header-menu li a.menu-item{
        padding: 10px 20px;
    }
    .container{
        width: 95%;
        padding: 10px;
    }
    .app-header-inner{
        width: 100%;
        padding: 0 10px;
    }
}
@media screen and (max-width: 1070px) {
    .container{
        width: 100%;
        padding: 0 10px;
    }
    .listInfo span{
        width: 75%;
    }
    .listInfo span.time{
        width: 25%;
    }
    .lists .list{
        width: 50%;
    }
}
@media screen and (max-width: 800px) {
    body{
        min-width: 320px;
    }
    .container {
        width: 100% !important;
        padding: 0 !important;
        min-width: 320px;
        margin-bottom: 0;
    }
    .tips{
        /* margin-top: 67px; */
    }
     
    
    .server .title a.more,
    .riqi,
    .lunbo,
    .pinjia,
    .listdetail span,
    .listInfo span.time,
    .loginIp,
    .loginTime,
    .teacherInfo,
    .tips span.rightTips {
        display: none;
    }
    .tips {
        overflow: hidden;
    }
     .boxRight,
    .boxLeft{
        width: 100%;
    }
    .server,
    .save,
    .leadership,
    .identity,
    .Online,
    .tabInfo{
        padding: 0px 10px 10px 10px;
    }
    .listInfo li{
        padding: 0;
    }
    .listInfo span{
        width: 100%;
    }
   
    .title li.active{
        border-bottom: 2px solid rgb(71, 139, 54);
    }
    .title{
        border-bottom: 1px solid rgb(221, 221, 221);
    }
    .listdetail,
    .divImg{
        float: none;

    }
    .listdetail{
        width: 100%;
        text-align: center;
    }
    .divImg{
        width: 100%;
        margin-bottom: 10px;
    }
    .lists .list{
        width: 25%;
    }
    .listPad{
        padding: 0;
        border:0;
        height: auto;
    }
    .add .addBtn{
        font-size: 14px;
        display: block;
    }
    .add{
        line-height: normal;
    }
    .add .glyphicon{
        width: 55px;
        height: 55px;
        line-height: 55px;
        margin-bottom: 10px;
    }
    .boxRight>div{
        padding: 0 10px 10px 10px;
    }
    .leaderName li{
        padding: 0;
        color: #666666;
    }
    .leaderName li:nth-child(2n){
        background: #fff;
    }
    .leaderName li.header{
        background: #f9f9f9;
    }
    .save .title li.active,
    .server .title li.active,
    .myEmail .title li.active,
    .myRemind .title li.active,
    .leadership .title li.active{
        border-bottom: 0;
    }
    .box{
        position: relative;
        /*padding-bottom: 245px;*/
    }
    .server{
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
    .serverList a{
        width: auto;
        padding: 5px 15px;
        background: #EFEFEF;
        display: inline-block;
        margin: 0 0 10px 0;
    }
    .commonly{
        font-style: 14px;
    }
    .bod{
        margin-bottom: 10px;
    }
    .tips{
        background: #F5FFF4;
    }
    .tips span{
        display: inline-block;
        height: 40px;
    }
    .leftTips{
        width: calc(100% - 20px);
    }
    .title .more{
        position: absolute;
        top: 17px;
        right: 0;
        color: #C9C9C9;
    }
    .myEmail{
        margin-bottom: 20px;
    }
    .myRemind .title,
    .leadership .title{
        margin-bottom: 0;
    }
    .leadership .leaderName li{
        border-bottom: 1px solid #EFEFEF;
    }
    .leadership .leaderName li:last-child{
        border-bottom: 0;
    }
    .remindInfo div span{
        display: block;
        float: left;
        line-height: 30px;
    }
    .remindInfo div span.remindlist{
        float: right;
        color: #666666;
    }
    .remindInfoImg img{
        width: 30px;
        height: 30px;
    }
    .remindInfoImg{
        display: block;
    }
    .remindInfoName{
        margin-left: 5px;
    }
    .remindInfoImg{
        width: 30px;
        height: 30px;
    }
    .remindInfo{
        padding: 10px 0;
        border-bottom: 1px solid #EFEFEF;
    }
    .myRemind .remindInfo:last-child{
         border-bottom:0;
    }

    .add .glyphicon-plus{
        color: #fff;
        background: #C7C7C7;
        border-radius: 5px;
    }
    .save>div,
    .leadership>div{
        display: none;
    }
    /* .title li{
        padding: 0 5px 0 0;
        margin-right:0;
        width: 25%;
    }*/
     .tabInfo .title li{
        width:24%;
        padding: 0;
        text-align: center;
        margin-right: 0;
    }
    .tabInfo .title li.active span{
        height: 100%;
        display: inline-block;
        float: left;
        border-bottom: 2px solid rgb(71, 139, 54);
    }
    .tabInfo .title li.active{
        border-bottom: 0;
    }
    .tabInfo .title li span{
        float: left;
    }

    

}
@media screen and (max-width: 600px) {
        .tips{
            /* margin-top: 50px; */
            margin-top: 0;
         }
    }
@media screen and (max-width: 320px) {
    .app-footer{
        height: 90px;
    }
    
}


 
    
 