/* CSS Document */
body{
	background: url("../images/back_line.gif");
	padding: 0;
	margin: 0;
}
a{
	color: #FFFFFF;
}
a:hover{
	color: #FFFFFF;
	text-decoration: none;
}
/* Student CSS */
.form-control option{
	border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff !important;
}

.header{
	background:#468B38; 
	width: auto;
	height:100px;
	margin:auto;
	padding: 0;
}
.header_logo{
	float: left;
	margin-left: 10%;
}
.header_logo img{
	margin:auto;
	width: auto;
	height: auto;
	border-radius: 10px;
}

.daohangcaidan{
	border-radius:10px;
	margin-top: 30px;
	margin-left:10%;
	width: 80%;
	height: 50px;
	background:#468B38;
	//overflow: hidden;
	padding-left: 10%;
}

.caidanxuanxiang{
	margin-right: 20px;
	margin-top:-5px;
	border-radius: 20px 20px 20px 20px;
	float: left;
	width:200px;
	height: 50px;
	background:#468B38; 
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	cursor:pointer;
	transition: transform 0.5s,background-color 1s;
	-webkit-transition:,background-color 1s,-webkit-transform 0.5s; /* Safari */
	//box-shadow:1px 0px 50px 1px #346729;
}

.caidanxuanxiang:hover{
	transform: translate(0px,-10px);
	box-shadow:0px 1px 30px 1px rgba(0,0,0,.2);
	background:#4d993d;
}

.caidanxuanxiang_on{
	margin-right: 20px;
	margin-top:-20px;
	border-radius: 20px 20px 20px 20px;
	float: left;
	width:200px;
	height: 50px;
	background-color:#745dd3;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	box-shadow:0px 5px 10px 3px rgba(0,0,0,0.3);
}

.midbody{
	width: 80%;
	height: 600px;
	margin-left: 10%;
	margin-top: 10px;
	background:#E2F1DF;
	padding: 2%;
	border-radius: 20px;
}

.xinxi{
	border-radius: 10px;

	width: 39%;
	height: 100%;
	float: left;
	margin-right: 1%;
}

.xinxi_touxiang{
	width: 30%;
	height: 25%;
	min-width: 120px;
	max-width: 130px;
	margin-top:5%;
	margin-left: 35%;
	margin-bottom: 5%;
	border-radius: 20px;
	padding: 10px;
	overflow: hidden;
	align-items: center;
}

.xinxi_touxiang img{
	width: 100%;
	min-width: 100px;
	height:auto;
	margin: auto;
	border-radius: 10px;
}

.xinxi_xiangxi{
	overflow: hidden;
	height: 65%;
	width: 90%;
	margin-left: 5%;
	border-radius: 10px;
	padding-top: 5px;
	padding-left: 8px;
}

.liebiao{
	overflow: hidden;
	
}

.liebiao input{
	outline: 0;
	border: 0;
	width: 100%;
	height: 100%;
}

.tongzhi{
	float: left;
	border-radius: 10px;
	background: #F0F8EE;
	width: 60%;
	height: 100%;
}

.footer_banner{
	margin-top:5px;
	width: 100%;
	height: 100px;
	background:#468B38; 
}

.footer_text{
	font-size:10px;
	text-align:center;
	margin:auto;
	position:relative;
	top:60%;
}

/*table pass or notpass*/
.pass
{
	color:#468B38;
}

.notpass
{
	color:#DC143C;
}

/* Student CSS */


/* Manager CSS */

.table-a a
{
	color:#468B38;
	text-decoration:underline;
	
}

.table-a a:hover
{
	color:#FFFFFF;
	text-decoration:none;
	
}

.gongshi
{
	text-align:center;
	margin-top:10px;
	
}

/* Manager CSS */

/* teacher CSS */

.sjtjcaidan_ys{
    border-radius:20px;
    height:20%;
    color:#FFFFFF;
    font-size:20px;
    text-align:center;
    padding:10px;
    width:100%;
    transition:width 0.6s,background-color 1s;
    -webkit-transition:width 0.6s,background-color 1s; /* Safari */
}

.sjtjcaidan_ys:hover{
    width:80%;
    //transform: translate(20px,0px);
	box-shadow:0px 1px 30px 1px rgba(0,0,0,.2);
	background-color:#4d993d;

}

.sjtjcaidan_ys_on{
    border-radius:20px;
    height:20%;
    width:80%;
    color:#FFFFFF;
    font-size:20px;
    text-align:center;
    padding:10px;
    background-color:rgba(109,75,249,.5);
    transition:width 0.6s,background-color 1s;
    -webkit-transition:width 0.6s,background-color 1s; /* Safari */
}

/* teacher CSS */


@media screen and (max-width: 1700px){
	.daohangcaidan{
		padding-left:12%;
		height: 100px;
	}
}

@media screen and (max-width: 1400px){
	.daohangcaidan{

		padding-left:10%;
	}
}
@media screen and (max-width: 1000px){
	.daohangcaidan{
		height: 150px;
	}
}
@media screen and (max-width: 800px){
	.daohangcaidan{
		height: 200px;
	}
}

/*table pass or notpass*/
.pass
{
	color:#468B38;
}

.notpass
{
	color:#DC143C;
}
