html, body, div, p, span, ul, li, img, i, h1, h2, h3, h4, h5, h6, a, input, button {
    padding: 0;
    margin: 0;
}
/*html,body{ overflow-y:scroll;}*/
/*html,body{ overflow:scroll; min-height:101%;}*/
/*html{ overflow:-moz-scrollbars-vertical;}*/
img {
    border: 0;
}

body {
    font-size: 14px;
    font-family: "å¾®è½¯é›…é»‘";
    background-image: url("../images/back_line.gif");
}

input, button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 0;
    font-size: 16px;
}

li {
    list-style: none;
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: #333;
}

.displaynone {
    display: none;
}

.center {
    clear: both;
    width: 1152px;
    margin: 0 auto;
    /*overflow: hidden;*/
}

.contain {
    padding: 10px 0;
}

.cons {
    padding: 15px 20px;
    background-color: white;
    margin-bottom: 10px;
}

@media screen and (min-width: 1441px) {
    .center {
        width: 80%;
    }
}

.header-up {
    background-color: white;
    line-height: 32px;
    height: 32px;
    color: #444;
}

.header-up .cons {
    overflow: auto;
    padding: 0 15px;
}

.header-nav-tag {
    float: left;
}

.header-nav-tag:hover {
    color: #337ab7;
}

.header-login {
    float: right;
}

.header-logined a:last-child {
    margin-left: 25px;
}

.header-logined a:last-child:hover {
    color: #ca121c;
}

.header-nologin a,.header-logined a:first-child:hover {
    color: #337ab7;
}

.header-nologin a:last-child {
    margin-left: 15px;
}

.header-down {
    background-color: #003c93;
    height: 83px;
}

.logo-nav {
    float: left;
    display: block;

}

.logo {
    display: block;
}

.header-navs {
    float: left;
}

.header-nav {
    display: block;
    font-size: 16px;
    float: left;
    position: relative;
    height: 83px;
    padding-left: 40px;
    width: 60px;
    color: white;
    line-height: 100px;
    overflow: hidden;
}

.header-nav.active,a.header-nav:hover, a.header-nav:visited, a.header-nav:active {
    color: white;
    background-color: #003581;
}
.head-search{
    float: right;
    line-height: 83px;
}
.search-text {
    float: left;
    width: 0;
    padding: 0 18px;
    margin-top: 25px;
    background-color: #2365c5;
    height: 36px;
    border-radius: 36px;
    margin-right: -35px;
}
.header-text {
    display: block;
    width: 85%;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    background-color: #2365c5;
    border: 0;
    color: white;
}
.header-text::-webkit-input-placeholder {color:#fff;}
ã€€ã€€.header-text:-moz-placeholder {color:#fff;}
ã€€ã€€.header-text::-moz-placeholder {color:#fff;}
ã€€ã€€.header-text:-ms-input-placeholder {color:#fff;}
.header-search {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url(../images/header-search.png) no-repeat center;
    vertical-align: middle;
    border-radius: 36px;
    background-color: #2365c5;
    cursor: pointer;
}
/*ä»¥ä¸Šå¤´éƒ¨*/
.header-crumb .cons {
    margin-bottom: 0
}
.crumb-cons {
    height: 40px;
    line-height: 40px;
}

/*ä»¥ä¸Šé¢åŒ…å±‘å¯¼èˆª*/
.footer {
    padding: 30px 0;
    background-color: #4e5258;
}

.copyright {
    text-align: center;
    color: #aaa;
}

.copyright:first-child {
    margin-bottom: 15px;
}

/*ä»¥ä¸Šåº•éƒ¨*/
.header-crumb .cons {
    padding: 0 20px;
}

/*ä»¥ä¸Šé¢åŒ…å±‘å¯¼èˆª*/
.container .center {
    padding-top: 10px;
    overflow: auto;
}

.cons-left {
    float: left;
    width: calc(100% - 310px);
}

.cons-right {
    float: right;
    width: 300px;
}

.title-tags {
    line-height: 40px;
    height: 40px;
    border-bottom: 4px solid #ddd;
    position: relative;
}

.title-tag {
    display: inline-block;
    padding: 0 10px;
    border-bottom: 4px solid #ddd;
    margin-bottom: -3px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 3px;
}

.title-tag.active, .title-tag:hover {
    border-color: #337ab7;
}

.more-other {
	text-decoration: none !important;
	color: #337ab7 !important;
    position: absolute;
    right: 10px;
}

.more-other:hover, .news-more a:hover {
    clear: both;
    text-decoration: underline;
    color: #337ab7;
}

.news-more {
    text-align: center;
}

.news-more a {
    color: #337ab7;
}

.banner {
    margin-bottom: 10px;
}

.banner img {
    display: block;
    width: 100%;
}
.news-cons{
    height: 231px;
}
.news-lists, .apps-lists, .services-lists, .other-news-lists {
    padding: 0 10px 15px;
    overflow: hidden;
}

.news-lists, .other-news-lists {
    margin-top: 10px;
}

.news-list, .other-news-list {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    line-height: 36px;
}

.news-list {
    padding-right: 180px;
}

.news-list span {
    position: absolute;
    right: 0;
}

.news-list:nth-child(2n-1), .other-news-list:nth-child(2n-1) {
    background-color: #f9f9f9;
}

.news-list a:hover, .other-news-list a:hover, .app-info-title a:hover, .app-title a:hover {
    color: #337ab7;
}

.apps-list, .services-list {
    float: left;
    margin-top: 25px;
    margin-right: 25px;
    width: calc((100% - 147px) / 3);
    border: 1px solid #eee;
    padding: 15px;
}

.apps-list:nth-child(3n), .services-list:nth-child(3n) {
    margin-right: 0;
}

.apps-list img, .services-list img {
    display: block;
    float: left;
    width: 55px;
    height: 55px;
    border-radius: 5px;
    margin-right: 15px;
}

.app-title, .app-info {
    float: left;
    width: calc(100% - 70px);
}

.app-title, .app-info-title {
    height: 40px;
    overflow: hidden;
    line-height: 20px;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.app-info-tag {
    color: #666;
    font-size: 12px;
}

.app-favorite {
    clear: both;
    font-size: 12px;
    color: #666;
    line-height: 22px;
    padding-top: 5px;
}
.app-favorite i,.pm-yhpj i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.app-favorite i:nth-child(5) {
    margin-right: 5px;
}

.app-favorite span {
    margin-top: 3px;
}

.xing-yellow {
    background-image: url(../images/xing-yellow16.png);
}

.xing-grey {
    background-image: url(../images/xing-grey16.png);
}

.love {
    background-image: url(../images/love.png);
}

.loveno {
    background-image: url(../images/loveno.png);
}

.link-lists {
    padding: 20px;
}

.link-list {
    position: relative;
    padding-left: 80px;
    margin-bottom: 15px;
}

.link-title {
    position: absolute;
    left: 0;
    font-weight: bold;
}

.link-navs {
    overflow: hidden;
}

.link-nav {
    float: left;
    margin-bottom: 15px;
    margin-right: 30px;
    white-space: nowrap;
}

.link-nav:hover {
    color: #337ab7;
}

/*ä»¥ä¸Šå·¦ä¾§*/
.login-tishi {
    padding: 15px 10px;
    text-align: center;
    line-height: 26px;
}

.login-unified {
    padding-top: 4px;
    text-align: center;
    padding-bottom: 16px;
}

.login-unified a {
    text-decoration: underline;
}

.login-unified a:hover {
    color: #337ab7;
}
.e-zine{
    padding: 15px 10px 0px;
}
.e-zine-cons{
    width: 240px;
    height: 330px;
    overflow: hidden;
    position: relative;
}
.e-zine-lists{
    position: absolute;
    top:0;
    left: 0;
}
.e-zine-list{
    float: left;
    width: 240px;
    height: 330px;
}
.e-zine-list a{
    display: block;
}
.e-zine img{
    display: block;
    max-width: 240px;
    max-height: 330px;
    margin: auto;
}
.e-zine-page{
    text-align: center;
}
.e-zine-page span{
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #cbdbeb;
    margin-right: 8px;
    cursor: pointer;
}
.e-zine-page span.active{
    background-color: #337ab7;
}
.e-zine-page span:last-child{
    margin-right: 0;
}
/*ä»¥ä¸Šå³ä¾§*/
.fuwu-detail-static {
    background-color: white;
}

.fuwu-detail-fixed {
    position: fixed;
    z-index: 1;
    top: 0;
    /*-webkit-box-shadow: 0 2px 2px 2px #aaa;*/
    /*-moz-box-shadow: 0 2px 2px 2px #aaa;*/
    /*box-shadow: 0px 2px 2px #aaa;*/
}

.fuwu-detail-title {
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    position: relative;
    padding: 0 10px;
}

.fuwu-detail-title span {
    position: absolute;
    right: 0;
    font-size: 14px;
}

.fuwu-modules {
    overflow: hidden;
    padding: 0 25px;
}
.fuwu-module {
    float: left;
    border: 1px solid #eee;
    padding: 5px 10px 5px 30px;
    margin-right: 25px;
    
    display: block;
    text-align: center;
    position: relative;
}

.maodian-cons {
    padding: 25px;
}

.fuwu-module i {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    height: 20px;
    width: 20px;

}

.fwsm-info {
    margin-bottom: 20px;
}

.cjwt-list {
    padding: 10px 10px 15px;
    border-bottom: 1px solid #eee;
}

.cjwt-list p {
    line-height: 22px;
    color: #333;
}

.cjwt-list .cjwt-reply {
    color: #000;
    margin-top: 10px;
}

.wyzx-info {
    position: relative;
    padding-left: 75px;
    line-height: 36px;
    margin-bottom: 20px;
}

.wyzx-label {
    position: absolute;
    left: 0;
}

.zixun-form, .zixun-tel {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    font-size: 14px;
    border: 1px solid #eee;
    line-height: 24px;
    width: 100%;
    padding: 5px;
}

.zixun-form {
    max-width: calc(100% - 10px);
    min-width: 200px;
    width: calc(100% - 10px);
    min-height: 60px;
    max-height: 200px;
}

.zixun-tel {
    width: 200px;
    height: 26px;
}

.fuwu-fwpf-up {
    overflow: hidden;
    padding: 20px 20px 30px;
    border-bottom: 1px solid #eee;
}

.fuwu-fwpf-left {
    float: left;
    width: 220px;
}

.fuwu-fwpf-right {
    float: right;
    width: calc(100% - 280px);
}

.fuwu-pingfen {
    text-align: center;
}

.fuwu-pingfen span:first-child {
    font-size: 32px;
}

.fuwu-pingfen span:last-child {
    margin-left: 5px;
}

.fewu-pingfen-tishi {
    margin-top: 10px;
    color: #666;
    overflow: hidden;
}

.fewu-pingfen-tishi span:first-child {
    float: left;
}

.fewu-pingfen-tishi span:last-child {
    float: right;
}

.fuwu-pingfen-xing {
    position: relative;
    height: 20px;
    padding: 0 50px 0 110px;
}

.xing-list {
    display: block;
    width: 100px;
    position: absolute;
    left: 0;
    top: -1px;
}

.fuwu-pingfen-xing .xing {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-image: url("../images/xing2.png");
}

.pingfen-percent {
    position: absolute;
    right: 0;
    font-size: 12px;
    width: 40px;
    text-align: right;
    top: 2px;
    color: #333;
}

.pingfen-tiao {
    display: inline-block;
    height: 4px;
    width: 100%;
    background-color: #ddd;
    vertical-align: middle;
    position: relative;
}

.pingfen-tiao i {
    position: absolute;
    left: 0;
    background-color: #337ab7;
    height: 4px;
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}

.fwpf-info {
    padding: 30px 30px 0;
}

.fw-quit-editor {
    margin-left: 10px;
}

.fwpf-info i {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.xing-grey-big {
    background-image: url("../images/xing-grey-big.png");
}

.xing-yellow-big {
    background-image: url("../images/xing-yellow-big.png");
}

.fuwu-btn {
    height: 36px;
    display: inline-block;
    color: white;
    background-color: #ffa557;
    cursor: pointer;
    width: 115px;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
}

.fuwu-btn:last-child {
    margin-left: 30px;
    background-color: #337ab7;
}

.fuwu-link {
    padding: 10px;
}

.fuwu-link-info:nth-child(2n-1) {
    color: #666;
    line-height: 36px;
}

.fuwu-link-info:nth-child(2n) {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.cons-right-fixed {
    position: fixed;
    top: 0;
}
/*.cons-right-fixed .cons{*/
    /*-webkit-box-shadow: 0 2px 2px 2px #aaa;*/
    /*-moz-box-shadow: 0 2px 2px 2px #aaa;*/
    /*box-shadow: 0 2px 2px #aaa;*/
/*}*/
.fuwu-search{
    position: relative;
    padding: 20px 20px 30px;
}
.fuwu-paiming{
    position: absolute;
    right: 20px;
    top:20px;
    height: 30px;
    border: 1px solid #eee;
    border-radius: 3px;
    display: block;
    width: 120px;
    text-align: center;
    line-height: 30px;
    color: #666;
}
.fuwu-paiming:hover{
    color: #337ab7;
}
.fuwu-con{
    padding: 20px;
    clear: both;
    margin-bottom: 20px;
}
.fuwu-key{
    padding: 0 20px;
    color: #666;
    position: relative;
    padding-left: 100px;
    margin-bottom: 15px;
}
.fuwu-key-title{
    position: absolute;
    left: 20px;
    top:0;
    line-height: 24px;
    display: block;
    width: 70px;
    text-align: right;
}
.fuwu-key-lists{
    overflow: hidden;
}
.fuwu-key-list{
    float: left;
    margin-right: 30px;
    line-height: 24px;
    margin-bottom: 0px;
    cursor: pointer;
    padding: 0 8px;
}
.fuwu-key-list:hover,.fuwu-key-list.active{
    background-color: #337ab7;
    color: white;
}
.fuwu-search-info{
    display: flex;
}
.fuwu-search-info input{
    flex-basis: 600px;
    width: 600px;
    height: 30px;
    border: 1px solid #eee;
    line-height: 30px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left:10px;
    font-size: 14px;
}
.fuwu-search-info span{
    flex-basis: 40px;
    width:40px;
    height: 30px;
    border: 1px solid #eee;
    border-left: 0;
    background: url("../images/thing-search.png") no-repeat center;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
}
.fuwu-lists{
    overflow: hidden;
    width: 100%;
}
.fuwu-lists .services-list{
    width: calc((100% - 203px)/4);
    cursor: pointer;
}
.fuwu-lists .services-list:nth-child(3n){
    margin-right: 25px;
}
.fuwu-lists .services-list:nth-child(4n){
    margin-right: 0;
}
.fuwu-title{
    font-size: 18px;
}
/*ä»¥ä¸ŠæœåŠ¡è¯¦æƒ…*/
.shoucang-lists{
    overflow: hidden;
    padding-top: 25px;
}
.shoucang-list{
    float: left;
    width: 16.6%;
    margin-bottom: 20px;
}
.shoucang-list a{
    display: block;
}
.app-pic{
    display: block;
    width: 64px;
    height:64px;
    margin: 0 auto;
    border-radius: 5px;
}
.shoucang-title{
    line-height: 28px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 80%;
    margin: 0 auto;
}
.dingyue-lists{
    padding: 25px 25px 0;
}
.dingyue-list{
    position: relative;
    padding-left: 100px;
}
.dingyue-list span{
    position: absolute;
    display: block;
    width: 100px;
    left: 0;
    line-height: 24px;
    text-align: right;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.dingyue-list li{
    background-color: #337ab7;
    color: white;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.dingyue-list:nth-child(3) li{
    background-color: white;
    color: #337ab7;
    border: 1px solid #337ab7;
}
.dingyue-list p{
    position: relative;
    color: #666;
    padding: 10px 0;
}
.dingyue-list p a{
    position: absolute;
    color: #337ab7;
    right:0;
}
.dingyue-list p a:hover{
    text-decoration: underline;
}
.dingyue-tags{
    min-height: 40px;
    width:100%;
    overflow: hidden;
}
.dingyue-tag{
    width: 100px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    display: block;
    float: left;
}
.gr-dingyue{
    padding: 10px 0 20px;
 }
.gr-save{
    padding: 10px 0 20px;
}
.gr-save a:last-child{
    margin-left: 10px;
}
.gr-info{
    border-bottom: 1px solid #eee;
}
.gr-info a{
    display: block;
}
.gr-info:first-child{
    border-bottom: 0;
    padding: 15px 0 0 10px;
    line-height: 24px;
}
.gr-info:nth-child(2){
    position: relative;
    padding: 15px 0 15px 70px;
    height: 50px;
}
.gr-info:nth-child(2) img{
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top:15px;
    left: 10px;
}
.gr-info:nth-child(3),.gr-info:nth-child(4),.gr-info:nth-child(5),.gr-info:nth-child(6){
    line-height: 32px;
    position: relative;
    padding: 0 10px;
}
.gr-num{
    position: absolute;
    top:7px;
    right: 10px;
    display: block;
    width: 24px;
    border-radius: 18px;
    height: 18px;
    background-color: #e93e3e;
    color: white;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}
.richeng-add{
    color: #333;
}
.richeng-add:hover{
    color: #337ab7;
}
.rili-time {
    overflow: hidden;
}
.rili-time p {
    float: left;
    background-color: #f2f2f2;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

/*.year {*/
    /*width: 100px;*/
    /*margin-right: 20px;*/
/*}*/

.month,.years {
    position: relative;
    width: calc(100% - 140px);
}
.years{
    margin-right: 20px;
}
.upmonth, .downmonth,.upyear,.downyear {
    position: absolute;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.upmonth:hover, .downmonth:hover,.upyear:hover,.downyear:hover {
    background-color: #aaa;
    color: white;
}

.upmonth ,.upyear{
    left: 0;
}

.downmonth,.downyear {
    right: 0;
}
.year,.upmonth,.downmonth{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rili{
    padding-top:15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}
.rili-table {
    padding-top: 10px;
}

.rili-table table {
    width: 100%;
}

.rili-table th, .rili-table td {
    text-align: center;
    line-height: 32px;
}

.rili-table td {
    /*border-bottom: 1px solid #eee;*/
    position: relative;
}
.rili-square{
    position: absolute;
    left: 0;
    bottom: 5px;
    height: 5px;
    line-height: 5px;
    width: 100%;
    text-align: center;
}
.rili-square span{
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: #ca121c;
}
.rili-table td.you {
    cursor: pointer;
}

.rili-table .td6, .rili-table .td7 {
    border-color: #f6f6f6;
    color: #aaa;
}

.rili-table td.now {
    background-color: #2a6ac8;
    color: white;
}
.rili-table td.you:hover{
    background-color: #c5c5c5;
    color: #777;
}
.rili-table td.grey {
    background-color: #2a6ac8;
    color: white;
}

.richeng{
    padding-bottom: 20px;
}
.richeng-list{
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}
.richeng-left{
    padding: 10px;
    float: left;
    width: 108px;
    border-right: 2px solid #337ab7;
}
.richeng-right{
    padding:10px;
    float: left;
    width: calc(100% - 150px);
}
.richeng-right p,.richeng-left p{
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 20px;
}
/*ä¸ªäººä¸­å¿ƒ*/
.thing-lists{
    height: 224px;
}
.thing-list-titles{
    font-weight: bold;
    background-color: #f9f9f9;
}
.thing-list{
    clear: both;
    overflow: hidden;
}
.thing-list:nth-child(2n){
    background-color: #f9f9f9;
}
.thing-list li{
    line-height: 32px;
    height: 32px;
}
.thing-list li{
    float: left;
}
.thing-num,.thing-see{
    text-align: center;
    width: 60px;
}
.thing-see{
	cursor: pointer;
}
.thing-cons .thing-see{
    background: url("../images/thing-search.png") no-repeat center;
}
.thing-fasongren{
    text-align: center;
    width: 100px;
}
.thing-time{
    width: 145px;
    text-align: center;
}
.thing-laiyuan{
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.thing-biaoti{
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.ul-todo .thing-biaoti{
    width: calc(100% - 660px);
}

.thing-lcstate{
    width: 100px;
    text-align: center;
}
.ul-trace .thing-biaoti,.ul-done .thing-biaoti{
    width: calc(100% - 515px);
}
.ul-end .thing-biaoti{
    width: calc(100% - 425px);
}
.ul-drafts .thing-biaoti{
    width: calc(100% - 365px);
}

.zixun-cons .cons{
    float: left;
    width: calc(50% - 45px);
}
.zixun-cons .cons:nth-child(2n-1){
    margin-right: 10px;
}
.zixun-cons .news-lists{
    height: 216px;
}
.pages-fan{
    position: absolute;
    right: 0;
    top:0;
}
.pages-fan span{
    display: inline-block;
    width: 22px;
    height: 22px;
    text-align: center;line-height: 22px;
    background-color: #ddd;
    color: white;
    font-size: 16px;
    margin-right: 5px;
}
.pages-fan span.yes{
    cursor: pointer;
}

.pm-apps{
    padding: 0 20px 30px;
}
.pm-apps-cons{
    padding-bottom: 10px;
}
.pm-apps-list-title{
    font-weight: bold;
}

.pm-apps-list{
    overflow: hidden;
}
.pm-apps-list li{
    float: left;
    text-align: center;
    line-height: 70px;
    color: #333;
}
.pm-apps-list-title li{
    line-height: 50px;
}
.pm-apps-list-title .pm-yym{
    text-align: left;
}
.pm-xh{
    width: 60px;
    line-height: 40px;
}
.pm-bmgl{
    width: 200px;
}
.pm-sycs{
    width: 150px;
}
.pm-pjbjsj{
    width: 150px;
}
.pm-yhpj{
    width: 200px;
}
.pm-scsl{
    width: 100px;
}
.pm-yym{
    width: calc(100% - 860px);
}

.pm-yym div{
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding: 10px 0;
}
.pm-yym div img{
    float: left;
    display: block;
    width: 50px;
    height: 50px;
}
.pm-yym div p{
    float: left;
    margin-left: 10px;
    line-height: 25px;
    width: calc(100% - 60px);
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-align: left;
}

.pm-yym div p span{
    color: #666;
    font-size: 12px;
}
.ui-helper-hidden-accessible,.uitooltip{
    display: none;
}

.title-tag.active{
	cursor: inherit !important;
}


html{

    overflow-y: scroll;

}

:root {

    overflow-x: auto;

}

:root body {

    position: absolute;

}

body {

    width: 100%;

}








