<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>材料提交</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}" />
<link rel="stylesheet" href="{{ url_for('static',filename='css/app-style.css')}}" />
</head>

<body>
	<div class="header">
		<div class="header_logo">
			<img src="{{ url_for('static',filename='images/logo.png')}}" alt="" />
		</div>
	</div>
	<div class="daohangcaidan">
		<a href="xinxi"><div class="caidanxuanxiang">个人信息</div></a>
		<div class="caidanxuanxiang_on">材料提交</div>
		<a href="shenhe"><div class="caidanxuanxiang">审核结果</div></a>
		<a href="zongce"><div class="caidanxuanxiang">综测公示</div></a>
		<a href="liuxin"><div class="caidanxuanxiang">留信</div></a>
		
	</div>
	<div class="midbody" style="height:auto;padding-bottom: 10px">
		<div class="card" style="padding:20px;border-radius:20px">
  		<h2>材料提交</h2>
  <form>
    <div class="form-group col-12 float-left">
      <label for="email"><h5>申请人:</h5></label>
      <input type="text" class="form-control" id="email" placeholder="输入姓名">
    </div>
    <div class="form-group col-12 float-left">
      <label for="pwd"><h5>申请事项:</h5></label>
		<select name="cars" class="form-control">
			<option value="一等奖学金">一等奖学金</option>
			<option value="二等奖学金">二等奖学金</option>
			<option value="三等奖学金">三等奖学金</option>
			<option value="优秀干部">优秀干部</option>
			<option value="三好学生">三好学生</option>
			<option selected>请选择</option>
		</select>
    </div>
	<div class="form-group col-12 float-left">
      <label for="pwd"><h5>申请说明:</h5></label>
      <textarea class="form-control" rows="4"></textarea>
    </div>
    <div class="form-group col-12 float-left">
      <label for="pwd"><h5>材料文件:</h5></label>
      <input type="file" class="form-control" id="pwd" placeholder="选择文件">
    </div>
    <div class="col-12 float-left">
    	<button type="submit" class="btn btn-primary" style="font-size:20px">提交</button>
    </div>
    <!--<div class="form-check col-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox"> Remember me
      </label>
    </div>-->
    
  </form>
</div>
	</div>
	
	<div class="footer_banner">
		<div class="footer_text">
		@CopyRight 安徽农业大学-18计科6班-潘亚杰18115296-2897022134@qq.com
		</div>
	</div>

</body>
</html>

