<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>留信</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}" />
<link rel="stylesheet" href="{{ url_for('static',filename='css/app-style.css')}}" />
</head>

<body>
	<div class="header">
		<div class="header_logo">
			<img src="images/logo.png" alt="" />
		</div>
	</div>
	<div class="daohangcaidan">
		<a href="xinxi"><div class="caidanxuanxiang">个人信息</div></a>
		<a href="cailiaotijiao"><div class="caidanxuanxiang">材料提交</div></a>
		<a href="shenhe"><div class="caidanxuanxiang">审核结果</div></a>
		<a href="zongce"><div class="caidanxuanxiang">综测公示</div></a>
		<div class="caidanxuanxiang_on">
			留信
		</div>
	</div>
	<div class="midbody">
		
	<div class="col-lg-12">
         <div class="card">
           <div class="card-body">
           <div class="card-title">提交你的留言</div>
           <hr>
            <form>
           <div class="form-group">
            <label for="input-1">姓名</label>
            <input type="text" class="form-control" id="input-1" placeholder="输入你的姓名">
           </div>
           <div class="form-group">
            <label for="input-2">邮箱</label>
            <input type="text" class="form-control" id="input-2" placeholder="输入你的邮箱">
           </div>
           <div class="form-group">
            <label for="input-3">号码</label>
            <input type="text" class="form-control" id="input-3" placeholder="输入你的号码">
           </div>
           <div class="form-group">
            <label for="input-4">意见</label>
            <input type="textarea" class="form-control" id="input-4" placeholder="输入你的意见">
           </div>
           <div class="form-group">
            <button type="submit" class="btn btn-light px-5"><i class="icon-lock"></i> 提交</button>
          </div>
          </form>
         </div>
         </div>
      </div>
		
	</div>
	
	<div class="footer_banner">
		<div class="footer_text">
		@CopyRight 安徽农业大学-18计科6班-潘亚杰18115296-2897022134@qq.com
		</div>
	</div>

</body>
</html>

