<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>审核结果</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}" />
<link rel="stylesheet" href="{{ url_for('static',filename='css/app-style.css')}}" />
</head>

<body>
	<div class="header">
		<div class="header_logo">
			<img src="images/logo.png" alt="" />
		</div>
	</div>
	<div class="daohangcaidan">
		<a href="xinxi"><div class="caidanxuanxiang">个人信息</div></a>
		<a href="cailiaotijiao"><div class="caidanxuanxiang">材料提交</div></a>
		<div class="caidanxuanxiang_on">
			审核结果
		</div>
		<a href="zongce"><div class="caidanxuanxiang">综测公示</div></a>
		<a href="liuxin"><div class="caidanxuanxiang">留信</div></a>
	</div>
	<div class="midbody">
	<div class="card">
		<table class="table table-hover">
    <thead>
      <tr>
        <th style="font-size:30px">事项</th>
        <th style="font-size:30px">申请人</th>
        <th style="font-size:30px">结果</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td class="pass">审核通过</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td class="notpass">审核未通过</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td class="pass">审核通过</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td class="pass">审核通过</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td class="pass">审核通过</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td class="pass">审核通过</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td class="pass">审核通过</td>
      </tr>
    </tbody>
  </table>
  </div>
	</div>
	
	<div class="footer_banner">
		<div class="footer_text">
		@CopyRight 安徽农业大学-18计科6班-潘亚杰18115296-2897022134@qq.com
		</div>
	</div>

</body>
</html>

